@import '../../rem16px'

body
	text-align justified

blockquote
	font-family: Helvetica Neue, Helvetica, sans;
	font-size: 14rem;
	//padding-left 20rem
	//	border-left 4rem ddd orange

div.case-study
	border 5rem solid black

	h3
		background-color black
		color white
		font-size 20rem
		line-height 36rem

dfn
	font-weight bold