/* Article-specific styles for the On Practicality post. */

/* Playing with justified text and manual hyphenation on this one. */
p {
		text-align: justify;
}

article h1 {
	/* Optical alignment of header to remove slight indentation of title */
	margin-left:-2rem;
}

/* Thanks to Laura Kalbag for telling me about the kbd element. */
kbd {
	border: 1px solid #aaa;
	padding-left:10rem;
	padding-right:10rem;
	border-radius: 3rem;
	background-color:#eee;
	color: black;
	font-size:14rem;
	vertical-align: top;
}

figure {
	float:right;
}

figure#curly-quotes {
	font-family: "Georgia", "Lucida Sans Unicode", sans-serif;
	font-size:300rem;
	line-height:48rem;
	text-align: center;

	/* Width is set to 1rem less than 50% to accommodate 1px border */
	width:299rem;
	border: 1px solid black;

	/* Vertical margins compensate for 2 pixels of vertical border (vertical rhythm) */
	margin: -1px -1px 24rem 48rem;
	padding-top: 144rem;
	padding-bottom: 0rem;
}

figure#typewriter, figure#keyboard {
	width:300px;
	margin: 0 0 12rem 36rem;
}

figure#keyboard {
	border: 1px solid black;
}

figure#keyboard img {
	width:300px;
	height:216px;
	display:block;
}

figure#keyboard figcaption {
	text-align: center;

}

figure#typewriter img {
	width:300px;
	height:300px;
	/* To make up the vertical rhythm because Aral, in all his wisdom, didn't set his
	   body’s max-width to 624rem, which would have made the half-width 312rem, which,
	   in turn, would have meant that the half-width square images would have automatically
	   conformed to the vertical rhythm. */

	padding-bottom: 7rem;
}

figure#typewriter a:hover {
	border-bottom: none;
}

figcaption {
	font-family: "PT Serif", Georgia, serif;
	font-size: 12rem;
	line-height: 18rem;
	color:white;
	background-color:black;

	padding: 9rem 9rem 9rem 9rem;

	/* Compensate for the 1px bottom border (vertical rhythm) */
	margin-top: -1px;
}

/* Pull quote */
blockquote {
	float:left;
	font-size:32rem;
	line-height:48rem;
	margin: 12rem 60rem 12rem 0rem;
	max-width:40%;
}

@media screen and (max-width:700px) {

	figure#typewriter img, figure#keyboard img {
		width:100%;
		height: auto;
	}

	figure#curly-quotes, figure#typewriter, figure#keyboard{
		width:50%;
		height:auto;
	}

	figure#curly-quotes {
		font-size: 150rem;
		padding-top:75rem;
		margin-bottom: 12rem;
		margin-left:12rem;
	}
}

@media screen and (max-width:600px) {
	/* Make pull quote smaller. */
	blockquote {
		font-size: 24rem;
		line-height: 36rem;
		margin: 24rem 24rem 24rem 24rem;
	}
}

@media screen and (max-width:380px) {
	 figure#curly-quotes, figure#typewriter, figure#keyboard {
		width:100%;
		float:none;
		clear:both;
		margin: 0;
	}

	/* Make pull quote smaller. */
	blockquote {
		font-size: 20rem;
	}
}

@media screen and (max-width:300px) {
	/* The pull quote doesn’t really work under this width. */
	blockquote {
		display:none;
	}
}
