<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>TITLE&#8202;—&#8202;Breaking Things</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css-stylus/styles.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css-stylus/posts/POST-FOLDER/styles.css">
</head>
<body>
	<header>
		<a href="/">
			<h1>Breaking Things</h1>
			<p>Have you tried turning it off and on again?</p>
		</a>
	</header>
	<article>
		<h1>TITLE</h1>

		<p><a href="/">Return to the table of contents.</a></p>
	</article>
	<footer>
		<p id="footnote">* FOOTNOTE <a href="#footnote-origin">↩</a></p>
		<p>Breaking Things is a personal reboot narrative by <a href="http://aralbalkan.com" title="Aral Balkan's home page.">Aral Balkan</a>.</p>
	</footer>
</body>
</html>